extends ../layout 

block content 
  h1 Add a new artist to our gallery! 
  
  form(action='/artists' method='post')
    div.artist
      label(for="name") Artist Name
      br 
      input(type = 'text', placeholder='Artist Name', id="name", name = "name")
    div.painting
      label(for="painting") Artwork Name
      br 
      input(type = 'text', placeholder='Painting Name', id="painting", name = "painting")
    div.medium
      label(for="medium") Artistic Media
      br
      select(id='medium' name='medium')
        br
        option(value="acrylic") Acrylic
        option(value="oil") Oil 
        option(value="chalk") Chalk 
        option(value="pastel") Pastel 
        option(value="watercolor") Watercolor 
        option(value="ink") Ink 
        br
      div.description
      br
      label(for='description') Description of Artwork
      br
      textarea(id='description' name='description' placeholder='Describe the masterpiece..' rows='7' cols='50') 
  
    div.submit
      input(type='submit' id='submit' value='Submit Artist')
      
      
      
      
    
