extends ../layout 

block content 
  h1 Add a new artist to our gallery! 
  
  form(action='/artists' method='post')
    div.artist
      label(for="name") Artist Name 
      input(type='text', placeholder='Artist Name', id="name", name= "name")
      p
    div.painting
      label(for="painting") Artwork Name 
      input(type='text', placeholder='Painting Name', id="painting", name= "painting")
      p
    div.medium
      label(for="medium") Artistic Media: 
      p
      select(id='medium', name='medium', type='medium')
        option(value="acrylic") Acrylic
        option(value="oil") Oil 
        option(value='chalk') Chalk 
        option(value='pastel') Pastel 
        option(value='watercolor') Watercolor 
        option(value='ink') Ink 
      p
    div.description
      label(for='description') Description of Artwork
      p
      textarea(id='description' name='description' placeholder='Describe the masterpiece..' rows='7' cols='50') 
      p
    div.submit
      input(type='submit' id='submit' value='Submit Artist')
      
      
      
      
    
